.btn {
  width: 100%;
}

.filter-select {
  width: 50%;
}

@media screen and (min-width: 576px) {
  .filter-select {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .filter-select {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .filter-select {
    width: 20%;
  }
}
@media screen and (min-width: 1400px) {
  .filter-select {
    width: 15%;
  }
}
